plugins:
  digest_eligibility_rules_enabled:
    default: false
    client: false

  digest_eligibility_rules_debug:
    default: false
    client: false

  digest_eligibility_rules_apply_includes:
    default: true
    client: false

  digest_eligibility_rules_apply_excludes:
    default: true
    client: false

  digest_eligibility_rules_groups_json:
    default: "[]"
    type: text
    client: false

  digest_eligibility_rules_excludes_json:
    default: "[]"
    type: text
    client: false

  digest_eligibility_pg_emails_list_cache_enabled:
    default: true
    client: false

  digest_eligibility_pg_emails_list_cache_ttl_seconds:
    default: 900
    client: false

  digest_eligibility_pg_emails_list_page_size:
    default: 50000
    client: false

  digest_eligibility_pg_emails_list_max_rows:
    default: 0
    client: false

  digest_eligibility_pg_emails_lists_json:
    default: "[]"
    type: text
    client: false
